# 2022 Mens World Cup Data Pre Processing

In [1]:
#import necessary libraries
import pandas as pd
import json

### 1. Processing Standard Stats File

In [39]:
with open('data/standard_stats.json', encoding = 'utf-8') as f1:
    data_standard = json.load(f1)
#data(array) has all information as one element
#len(data) to confirm only one element
#data[0]['Player'] gets all data pertaining to key 'Player' (dictionary)
df_standard = pd.DataFrame(data_standard[0]['Player'])
#.head(n) returns first n (if n not specified, returns all) number of rows
df_standard.head()

,Name,Country,Country_url,Age,Minutes_Played,Position,Goals,Assists
0,Brenden Aaronson,United States,https://fbref.com/en/squads/0f66725b/2022/Unit...,21,108,MF,0,0
1,Ali Abdi,Tunisia,https://fbref.com/en/squads/a7c7562a/2022/Tuni...,28,188,DF,0,0
2,Salis Abdul Samed,Ghana,https://fbref.com/en/squads/9349828d/2022/Ghan...,22,250,MF,0,0
3,Saud Abdulhamid,Saudi Arabia,https://fbref.com/en/squads/6e84edac/2022/Saud...,22,270,"DF,MF",0,0
4,Nawaf Al Abed,Saudi Arabia,https://fbref.com/en/squads/6e84edac/2022/Saud...,32,88,MF,0,0

In [40]:
#check how many elemetents data frame has
#returns answer as (rows, columns)
df_standard.shape

(680, 8)

In [89]:
# Check for repeating names in the 'Name' column
duplicate_names = df_standard[df_standard.duplicated('Name', keep=False)]

# If 'duplicate_names' DataFrame is not empty, it means there are repeating names.
if not duplicate_names.empty:
    print("The names are not unique identifiers")
    print(len(duplicate_names))
else:
    print("No repeating names found.")

No repeating names found.

In [ ]:
#Country_url column unwanted. Using .drop() to delete.
df_standard = df_standard.drop(columns = ['Country_url'])

**Adding PlayerID for Cleaner Unique Identifier**

In [73]:
df_standard['PlayerID'] = range(1, len(df) + 1)
df_standard.head()

,Name,Country,Age,Minutes_Played,Position,Goals,Assists,PlayerID
0,Brenden Aaronson,United States,21,108,MF,0,0,1
1,Ali Abdi,Tunisia,28,188,DF,0,0,2
2,Salis Abdul Samed,Ghana,22,250,MF,0,0,3
3,Saud Abdulhamid,Saudi Arabia,22,270,"DF,MF",0,0,4
4,Nawaf Al Abed,Saudi Arabia,32,88,MF,0,0,5

### 2. Proccessing Shooting Stats

In [63]:
with open('data/shooting_stats.json', encoding = 'utf-8') as f2:
    data_shooting = json.load(f2)
df_shooting = pd.DataFrame(data_shooting[0]['Player'])
df_shooting.head()
df_shooting.shape

(680, 3)

### 3. Proccessing Defense Stats

In [92]:
with open('data/defense_stats.json', encoding = 'utf-8') as f3:
    data_defense = json.load(f3)
df_defense = pd.DataFrame(data_defense[0]['Player'])
df_defense.head()
df_defense.shape

(680, 4)

### 4. Proccessing Goal Keeper Stats

In [56]:
with open('data/gk_stats.json', encoding = 'utf-8') as f4:
    data_gk = json.load(f4)
df_gk = pd.DataFrame(data_gk[0]['Player'])
df_gk.head()

                 Name PK_Save_Rate Goal_Save_Rate
0             Alisson                        71.4
1   Lawrence Ati-Zigi          0.0           64.7
2     Meshaal Barsham                        44.4
3  Alireza Beiranvand                        80.0
4        Milan Borjan                        53.3

### 5. Merging Stats in Dataframe
* matching attributes to correct player objects

In [74]:
#Merging data based off of unique attribute 'Name'
merged1_df = pd.merge(df_standard, df_shooting, on = "Name", how = "outer")
merged1_df.head()

,Name,Country,Age,Minutes_Played,Position,Goals,Assists,PlayerID,Shots_Total,Shots_On_Target
0,Brenden Aaronson,United States,21,108,MF,0,0,1,1,0
1,Ali Abdi,Tunisia,28,188,DF,0,0,2,0,0
2,Salis Abdul Samed,Ghana,22,250,MF,0,0,3,1,0
3,Saud Abdulhamid,Saudi Arabia,22,270,"DF,MF",0,0,4,1,0
4,Nawaf Al Abed,Saudi Arabia,32,88,MF,0,0,5,2,0

In [75]:
#Merging data based off of unique attribute 'Name'
merged2_df = pd.merge(merged1_df, df_defense, on = "Name", how = "outer")
merged2_df.head()

,Name,Country,Age,Minutes_Played,Position,Goals,Assists,PlayerID,Shots_Total,Shots_On_Target,Clearances,Blocks,Interceptions
0,Brenden Aaronson,United States,21,108,MF,0,0,1,1,0,0,5,1
1,Ali Abdi,Tunisia,28,188,DF,0,0,2,0,0,13,1,4
2,Salis Abdul Samed,Ghana,22,250,MF,0,0,3,1,0,8,2,4
3,Saud Abdulhamid,Saudi Arabia,22,270,"DF,MF",0,0,4,1,0,6,3,2
4,Nawaf Al Abed,Saudi Arabia,32,88,MF,0,0,5,2,0,0,0,1

In [76]:
#Merging data based off of unique attribute 'Name'
merged_final_df = pd.merge(merged2_df, df_gk, on = "Name", how = "outer")
merged_final_df.head()

,Name,Country,Age,Minutes_Played,Position,Goals,Assists,PlayerID,Shots_Total,Shots_On_Target,Clearances,Blocks,Interceptions,PK_Save_Rate,Goal_Save_Rate
0,Brenden Aaronson,United States,21,108,MF,0,0,1,1,0,0,5,1,NaN,NaN
1,Ali Abdi,Tunisia,28,188,DF,0,0,2,0,0,13,1,4,NaN,NaN
2,Salis Abdul Samed,Ghana,22,250,MF,0,0,3,1,0,8,2,4,NaN,NaN
3,Saud Abdulhamid,Saudi Arabia,22,270,"DF,MF",0,0,4,1,0,6,3,2,NaN,NaN
4,Nawaf Al Abed,Saudi Arabia,32,88,MF,0,0,5,2,0,0,0,1,NaN,NaN

In [79]:
#Moving PlayerID column to front of dataframe
merged_final_df = merged_final_df.reindex(columns=['PlayerID'] + list(merged_final_df.columns.drop('PlayerID')))
merged_final_df.head()

,PlayerID,Name,Country,Age,Minutes_Played,Position,Goals,Assists,Shots_Total,Shots_On_Target,Clearances,Blocks,Interceptions,PK_Save_Rate,Goal_Save_Rate
0,1,Brenden Aaronson,United States,21,108,MF,0,0,1,0,0,5,1,NaN,NaN
1,2,Ali Abdi,Tunisia,28,188,DF,0,0,0,0,13,1,4,NaN,NaN
2,3,Salis Abdul Samed,Ghana,22,250,MF,0,0,1,0,8,2,4,NaN,NaN
3,4,Saud Abdulhamid,Saudi Arabia,22,270,"DF,MF",0,0,1,0,6,3,2,NaN,NaN
4,5,Nawaf Al Abed,Saudi Arabia,32,88,MF,0,0,2,0,0,0,1,NaN,NaN

### 6. Exporting New Dataframe to CSV File

In [87]:
merged_final_df.to_csv('merged_data.csv', index = False, encoding = 'utf-16', sep='\t')